body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #172031;
}

.top-bar {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 30px; /* Ajuste a altura conforme necessário */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000080;
    z-index: 1000;
    text-shadow: white;
    text-align: center;
}

.img-top-bar{
    width: 100px;
    height: 100px;
    padding-top: 10px;
}

header {
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}

h3 {
    font-size: 28px;
}

/* Estilo das abas */
.tab {
    display: none;
    padding: 20px;
}

.tab-buttons {
    display: flex;
    justify-content: space-between; /* Distribui os botões ao longo do contêiner */
    padding: 10px;
    background-color: #00000049;
    margin-top: 54px;
}

.tab-buttons .back-button {
    background-color: #00000049;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: auto; /* Move o botão para o lado esquerdo */
}

.tab-buttons .back-button:hover {
    background-color: #000000cc;
}

h3 {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 200px;
}

/* Estilo para os botões abaixo do h3 */
.buttons {
    display: flex;
    flex-direction: column; /* Coloca os botões em uma coluna, um abaixo do outro */
    align-items: center; /* Centraliza os botões horizontalmente */
    gap: 20px; /* Espaçamento entre os botões */
    margin-top: 20px;
}

.buttons button {
    background-color: #00000080;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Faz com que os botões tenham o mesmo tamanho */
    max-width: 300px; /* Define uma largura máxima para não ficarem muito grandes */
}


.buttons button:hover {
    background-color: #000000cc;
}

