body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #172031;
    transition: margin-left 0.3s; /* Transição suave */
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000080;
    z-index: 1000;
    text-shadow: white;
    text-align: center;
}

.img-top-bar {
    width: 100px;
    height: 100px;
    padding-top: 10px;
}

.menu-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    left: 20px; /* Ajustado para ficar no canto direito */
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 60px; /* Abaixo da barra superior */
    left: -250px; /* Inicialmente escondido */
    height: calc(100% - 30px); /* Altura da página menos a barra superior */
    background-color: #000000cc;
    padding: 15px;
    transition: left 0.3s; /* Transição suave para a sidebar */
    z-index: 999; /* Um nível abaixo da barra superior */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    display: block;
    padding: 10px;
}

/* Ícone de perfil */
.profile-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 20px; /* Ajuste conforme necessário */
}

.img-perfil {
    width: 30px; /* Ajustar conforme necessário */
    height: 30px; /* Ajustar conforme necessário */
    padding-top: 10px;

}

/* Menu de perfil */
.profile-menu {
    position: absolute;
    top: 60px; /* Abaixo da barra superior */
    right: 20px; /* Alinhado à direita */
    background-color: #000000cc;
    display: none; /* Inicialmente escondido */
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
}

.profile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-menu li {
    margin: 15px;
}

.profile-menu a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    transition: background-color 0.3s;
}

/*----------------------------------------CAIXAS-----------------------------------------------*/
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; /* Ajuste o valor para controlar o espaço entre a sub-header e o título */
    transition: margin-left 0.3s; /* Transição suave */
}

.section-title {
    font-size: 52px;
    color: white;
    margin-bottom: 10px; /* Ajuste o valor para controlar o espaço entre o título e as caixas */
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cria duas colunas de largura igual */
    gap: 20px; /* Espaço entre as caixas */
    padding: 20px; /* Espaço interno do contêiner */
    max-width: 1000px; /* Define a largura máxima do contêiner */
    width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
    padding-top: 60px;
}

.box {
    background-color: #00000080; /* Fundo azul da caixa */
    border-radius: 15px; /* Bordas arredondadas da caixa */
    padding: 30px;
    transition: background-color 0.2s ease-in-out;
}

.box:hover {
    background-color: #000000cc;
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img {
    border-radius: 10px; /* Bordas arredondadas da imagem */
    background-color: #172031; /* Fundo da imagem */
    padding: 5px;
    width: 80px; /* Ajustar conforme necessário */
    height: 80px; /* Ajustar conforme necessário */
}

.text-content {
    text-align: center;
    margin-top: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.description {
    background-color: #172031; /* Fundo branco para a descrição */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px;
    color: white;
    margin-top: 10px;
    text-align: left;
}

a {
    text-decoration: none;
}



