/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #172031;
}

.top-bar {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 30px; /* Ajuste a altura conforme necessário */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000080;
    z-index: 1000;
    text-shadow: white;
    text-align: center;
}

.img-top-bar {
    width: 100px;
    height: 100px;
    padding-top: 10px;
}

header {
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}

p {
    font-size: 21px;
    color: white;
    text-align: left; /* Alinha o texto à esquerda */
    margin: 0; /* Remove margem padrão */
}

/* Estilo das abas */
.tab {
    display: none;
    padding: 20px;
}

.tab-buttons {
    display: flex;
    justify-content: space-between; /* Distribui os botões ao longo do contêiner */
    padding: 10px;
    background-color: #00000049;
    margin-top: 54px;
}

.tab-buttons .back-button {
    background-color: #00000049;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: auto; /* Move o botão para o lado esquerdo */
}

.tab-buttons .back-button:hover {
    background-color: #000000cc;
}

.content-container {
    display: flex; /* Utiliza flexbox para organizar os elementos lado a lado */
    justify-content: space-between; /* Espaçamento entre os elementos */
    padding: 20px; /* Espaçamento interno da área de conteúdo */
    margin-top: 70px; /* Adiciona margem superior para não sobrepor a barra superior */
}

.text-content {
    flex: 1; /* Permite que o texto ocupe a largura necessária */
    padding-right: 20px; /* Espaçamento entre o texto e a imagem */
    padding-left:150px;
    padding-top: 150px;
}

.image-content {
    flex: 1; /* Permite que a imagem ocupe a largura necessária */
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
}

.celeiro-image {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}
